@font-face {
    font-family: 'Angel';
    src: url(../Font/AngelWish.ttf) format(ttf),
        url(../Font/AngelWish.otf) format(opentype)
}

header>nav>a {
    text-decoration: none;
    color: white;
    font-size: x-large;

}

a:hover {
    color: blue;
}

header>h1 {

    text-align: center;
    color: red;
    font-size: 700%;
    font-family: 'Angel';

}